
<table width="100%" style="table-layout: fixed">
    <tr>
        <td valign="top">
            <fieldset id="test-exec2-list" class="tabular redcase-content" style="height: 450px">
                <legend class="redcase-header">Test cases</legend>
                <% @list2 = ExecutionSuite.all.detect { |x| x.project == @project and x.parent == nil } %>
                <% form_for :list2, :url => { :action => 'update_exelists', :project_id => @project.id } do |f| %>
                    <div id="lists2_id">
                        <%= render :partial => 'execution_list' %>
                    </div>
                    <div id='execution-tree' style="border: 1px #dddddd"/>
                <% end %>
            </fieldset>
        </td>
        <td>
            <fieldset class="tabular redcase-content">
                <legend class="redcase-header">Execution info</legend>
                <div id="test-case-edit" style="display: none">
                    <div id="exec_descr_id" class="issue status-2 priority-2 created-by-me details">
                        <h2>
                        <div style="font-weight: bold" id="test-case-subj" class="wiki"></div>
                        </h2>
                        <div style="font-weight: bold">Description:</div>
                        <div id="test-case-desc" class="wiki"></div>
                        <div id="test-case-attach" class="wiki"></div>
                    </div>
                    Comment:
                    <br/>
                    <%= text_area_tag 'exec-comment', nil, :rows => 4, :style => 'width: 95%' %>
                    <br/>
                    Result:
                    <%= select_tag 'results', options_for_select(ExecutionResult.find(:all, :order => '`order` asc').collect { |res| res.name }) %>
                    &nbsp;
                    <%= submit_tag 'Save', :onclick => 'execute()' %>
                    <br/>
                </div>
            </fieldset>
        </td>
    </tr>
</table>
<table id='all-results-d' width="100%" style="table-layout: fixed; display: none">
    <tr>
        <td>
            <fieldset class="tabular redcase-content" style="height: auto">
                <legend class="redcase-header">History</legend>
                <div id="all-results"/>
            </fieldset>
        </td>
    </tr>
</table>
