
<!-- Loading execution suites for project every time when this form is reloading -->
<% @lists2 = get_execution_suites_by_project_and_parent(@project) %>

<% form_for :list2, :url => { :action => 'update_exelists', :project_id => @project.id } do |f| %>
    <div>
        <h3 id="execution-settings-suite">
            Execution suite:
            <%= f.select :id, @lists2.collect { |e| [ e.name, e.id ] } %>
        </h3>
        <h3 id="execution-settings-version">
            Version:
            <%= select_tag 'version', options_for_select(Version.find_all_by_project_id(@project.id).collect { |res| res.name }) %>
        </h3>
        <h3 id="execution-settings-environment">
            Environment:
            <%= select_tag 'environments', options_for_select(ExecutionEnvironment.find(:all, :conditions => "project_id = #{@project.id}", :order => '`name` asc').collect { |res| [res.name, res.id] }) %>
        </h3>
        <%= observe_field :list2_id, :function => 'update_exe2_tree()', :with => 'list2_id' %>
    </div>
    <br/>
<% end %>
