
#redcase-management-layout {
    width: 100%;
    border-collapse: collapse;
}

#redcase-management-layout > tbody >tr {
    vertical-align: top;
}

#redcase-management-layout > tbody > tr > td {
    padding: 8px;
    width: 33%;
    border: 1px #cccccc dashed;
}
