<table id="redcase-management-layout">
    <tbody>
        <tr>
            <td>
                <%= render :partial => 'test_suites_tree', :locals => { :root => @root } %>
            </td>
            <td>
                TODO: Execution trees
            </td>
            <td>
                TODO: Environments
            </td>
        </tr>
    </tbody>
</table>