
<div id="rcExecutionSuites" class="left">
    <pre>
        ROOT
        |
        |
        \_ SUITE
         _ SUITE
    </pre>
</div>
<div id="rcExecutionSuites" class="center">
    <pre>
        ROOT
        |
        |
        \_ SUITE
         _ SUITE
    </pre>
</div>
<div id="rcExecutionSuites" class="right">
    <pre>
        ROOT
        |
        |
        \_ SUITE
         _ SUITE
    </pre>
</div>    