<%= context_menu("/testsuitestree/context_menu") %>
<form>
    <div class="autoscroll" style="width: 100%">
        <table class="list entries" id="browser">
            <tbody>
                <tr class="entry dir open loaded hascontextmenu">
                    <td style="padding-left: 0px" class="filename">
                        <input type="checkbox" name="ids[]" value="<%= "#{@root.class}:#{@root.id}" %>" style="display: none" />
                        <span class="expander">&nbsp;&nbsp;</span>
                        <span class="icon icon-folder"><%= root.name %></a>                    
                    </td>
                </tr>
                <%= render :partial => 'test_suite_content', :locals => { :root => root, :level => 1 } %>
            </tbody>
        </table>
    </div>
</form>