<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'redcase', :plugin => 'redcase' %>
<% end %>

<script type="text/javascript">
    function scmEntryLoadedRC(trId, level) {
        var padding = level * 10;
        scmEntryLoaded(trId);
        $(trId).setStyle({'padding-left': padding, color: 'red'});
    }
</script>

<div id="modalDiv" style="display: none"></div>
<%= render_tabs get_redcase_inner_tabs(@project) %>